<h1 id="site-title">Welcome to lnky.us!</h1>

<%= form_for @url do |f| %>
  <%= f.text_field :address %>
  <%= f.submit "Shorten URL" %>
<% end %>

<% flash.each do |name, msg| %>
      <p class="notice"><%= msg %></div>
<% end %>
